.container {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container1 {
    color: white;
    background-color: #25404b;
    justify-content: space-around;
    align-items: center;
}

#menu {
    display: flex;
    list-style: none;
    width: 100%;
}

.navBar {
    padding-left: 5%;
}

.container2 {
    color: white;
    background-color: #b97d2d;
    flex-direction: column;
    text-align: center;
    padding: 5% 20%;
}

.container3 {
    justify-content: center;
    color: white;
    background-color: #25404b;
    align-items: center;
}

#boton {
    font-weight: bold;
    color: white;
    background-color: #b97d2d;
    border: #b97d2d;
}

.imagenes {
    height: 100;
}

.container4 {
    padding: 25px;
    justify-content: center;
}

.subcontainer {
    flex-direction: column;
    align-items: center;
    padding: 1%;
    text-align: center;
}